<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OnCaicApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD_ogE8QMq_yAcmVIcVWp8oPaq68JEXvxs&sensor=FALSE&v=3.exp">
    </script>
</head>
<body ng-app="mapsApp" ng-controller="MapCtrl as cont" ng-init="cont.listHostings()">
<div id="container">
    <header><h1>HOSTING FINDER</h1></header>
    <nav id="list4">
        <ul ng-repeat="hosting in cont.hostings">
            <li>
                <article><a ng-click="cont.setCenter(hosting); cont.setDetails(hosting)">{{hosting.name}}</a></article>
            </li>
        </ul>
    </nav>
    <figure id="map"></figure>
    <div id="details" ng-show="cont.selected">
        <table class="rwd-table">
            <tr>
                <th>Name</th>
                <td>{{cont.details.name}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{cont.details.type}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{cont.details.email}}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{cont.details.web}}</td>
            </tr>
            <tr>
                <th>Province</th>
                <td>{{cont.details.province}}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{cont.details.region}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{cont.details.city}}</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>{{cont.details.postalcode}}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{cont.details.street}}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{cont.details.phonenumber}}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{cont.details.owner}}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{cont.details.latitude}}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{cont.details.longitude}}</td>
            </tr>
        </table>
    </div>
</div>
<footer>
    <a href="http://aba8.hol.es/random.jpg">Rafa Durán, Àngel Buil ©</a>
</footer>
</body>
</html>

