<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OnCaicApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD_ogE8QMq_yAcmVIcVWp8oPaq68JEXvxs&sensor=FALSE&v=3.exp">
    </script>
</head>
<body ng-app="mapsApp" ng-controller="MapCtrl as cont" ng-init="cont.listHostings()">
<div id="container">
    <h2>HOSTING FINDER</h2>
    <div id="list4">
        <ul ng-repeat="hosting in cont.hostings">
            <li>
                <a ng-click="cont.setCenter(hosting); cont.setDetails(hosting)">{{hosting.name}}</a>
            </li>
        </ul>
    </div>
    <div id="map"></div>
    <div id="details" ng-show="cont.selected">
        <h1>{{cont.details.name}}</h1>
        <p>{{cont.details.email}}</p>
        <p>{{cont.details.type}}</p>
        <p>{{cont.details.web}}</p>
        <p>{{cont.details.street}}</p>
        <p>{{cont.details.postalcode}}</p>
        <p>{{cont.details.city}}</p>
        <p>{{cont.details.region}}</p>
        <p>{{cont.details.province}}</p>
        <p>{{cont.details.phonenumber}}</p>
        <p>{{cont.details.owner}}</p>
        <p>{{cont.details.latitude}}</p>
        <p>{{cont.details.longitude}}</p>
    </div>
</div>
</body>
</html>

